---
layout: page
---

<div class="page">
  <section class="" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Planet Ludus</h2>
          <hr class="star-primary">
        </div>
      </div>
      {% for post in site.posts %}
      <div class="post-teaser row">
        <span>
          <h3>
            <a class="post-link" href="{{ post.original_link }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="meta">
          <b>From {{ post.author }}</b>
          <small>- {{ post.date | date: "%B %-d, %Y" }}</small>
          </p>
        </span>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
