<section class="" id="planet">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Latest Articles from Ludus Community</h2>
        <hr class="star-primary">
      </div>
    </div>
    {% for post in site.posts limit:3 %}
    <div class="post-teaser row">
      <span>
        <h3>
          <a class="post-link" href="{{ post.original_link }}">
            {{ post.title }}
          </a>
        </h3>
        <p class="meta">
        <b>From {{ post.author }}</b>
        <small>- {{ post.date | date: "%B %-d, %Y" }}</small>
        </p>
      </span>
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/planet">
          <hr class="star-primary">
          <h4>Read more articles</h4>
        </a>
      </div>
    </div>
  </div>
</section>
