 <!-- Portfolio Modals -->
 {% for profile in site.profiles %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ profile.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ profile.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ profile.img }}" class="img-responsive img-centered" alt="{{ profile.alt }}">
                            {% if profile.description %}
                                <p>{{ profile.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if profile.site %}
                                    <li>Site:
                                        <strong><a href="{{ profile.site }}">{{ profile.site }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if profile.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ profile.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if profile.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ profile.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
