<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
